window {
    margin: 0px;
    padding: 10px;
    background-image: url("file:///home/pop/.config/wofi/arch.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20px;
    border: 2px solid #00bfff;
    font-family: "JetBrainsMono Nerd Font", monospace;
    font-size: 18px;
}

#entry {
    padding: 8px;
    margin: 6px;
    background-color: rgba(30, 30, 46, 0.7);
    border-radius: 12px;
    color: #f8f8f2;
}

#entry:selected {
    background-color: rgba(0, 191, 255, 0.7);
    color: #f8f8f2;
}

#input {
    margin: 10px;
    padding: 8px;
    background-color: rgba(40, 42, 54, 0.8);
    color: #00bfff;
    border-radius: 12px;
}

